* {
  all: unset;
  transition: 200ms;
}

$bg: #11111b;
$bg-alt: #1e1e2e;
$grey: #595b70;
$text: #cdd6f4;
$fg: $text;

$blue: #89b4fa;
$lavender: #b4befe;
$sapphire: #74c7ec;
$sky: #89dceb;
$teal: #94e2d5;
$green: #a6e3a1;
$yellow: #f9e2af;
$peach: #fab387;
$maroon: #eba0ac;
$red: #f38ba8;
$mauve: #cba6f7;
$pink: #f5c2e7;
$flamingo: #f2cdcd;
$rosewater: #f5e0dc;

tooltip {
  font-family: "MesloLGS Nerd Font Mono";
  font-size: 20px;
  color: $fg;
  background-color: $bg;
  border: 3px solid $bg;
  border-radius: 0.5rem;
}

.mybar {
  background-color: $bg;
}

// ----- Widgets & windows ----- //

@import "scss/workspace.scss";
@import "scss/powermenu.scss";
@import "scss/arch.scss";
@import "scss/separator.scss";
@import "scss/powermenu_bar.scss";
@import "scss/battery.scss";
@import "scss/clock.scss";
@import "scss/slider.scss";

// ----- TESTS ----- //

window > .volume_pop {
  margin: 1rem;
  box-shadow: 0 0 5px 2px rgba(black, 0.5);
  background-color: $bg;
}

.volume_pop {
  font-family: "Font Awesome 6 Pro Solid";
  background-color: transparent;
  padding: 0.4rem;
  border-radius: 1rem;

  label {
    font-size: 2.2rem;
    padding: 0 0.8rem;
    text-shadow: 0 0 2px rgba(black, 0.5);
  }

  .scale scale trough highlight {
    all: unset;
    background-image: linear-gradient(
      to right,
      darken($color: $green, $amount: 15%),
      $green
    );
    border-radius: 0.8rem;
  }

  .scale scale trough {
    all: unset;
    background-color: $bg-alt;
    border-radius: 0.8rem;
    min-height: 3rem;
    min-width: 15rem;
  }
}
